<a href="https://colab.research.google.com/github/Eng-Zakaria/Netflix_Movies_and_TV_Shows/blob/main/Netflix_Movies_and_TV_Shows.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget -O data.zip "https://storage.googleapis.com/kaggle-data-sets/4769773/8081202/bundle/archive.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20240501%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20240501T212551Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=2cc79735d2cbb9203e9ae513a965206a8569b5b73b014a1043241e46f1158082184808c586cb6c8de66856ed5eed03dee91d4145c86811505b9e5f4a51d5acf2f64b5c60a1f6f44375e3e4420d7f4b507856d897bf4957babe270a19eed5ef259c91cc6b880bc8d38b2e003ccb599281a4832806df6d9b20addc966ab1b768d102eac98ed57c69b8a67662ef4b84a78880711ce755d9a74d3e287bc660915c593b916fd7e1ff0a3c36f6478c75a69b2b1c756e75c363fdcc89e6a34db8bb5fd8d4b349b29987e73818a5e3f9312c11762884239c763e34a8b188a6bf0a3adcd151c0b150368a6856fdf5706a5efd2f02ca810168f4f21f8452799e202468fd74"

--2024-05-01 21:26:47--  https://storage.googleapis.com/kaggle-data-sets/4769773/8081202/bundle/archive.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20240501%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20240501T212551Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=2cc79735d2cbb9203e9ae513a965206a8569b5b73b014a1043241e46f1158082184808c586cb6c8de66856ed5eed03dee91d4145c86811505b9e5f4a51d5acf2f64b5c60a1f6f44375e3e4420d7f4b507856d897bf4957babe270a19eed5ef259c91cc6b880bc8d38b2e003ccb599281a4832806df6d9b20addc966ab1b768d102eac98ed57c69b8a67662ef4b84a78880711ce755d9a74d3e287bc660915c593b916fd7e1ff0a3c36f6478c75a69b2b1c756e75c363fdcc89e6a34db8bb5fd8d4b349b29987e73818a5e3f9312c11762884239c763e34a8b188a6bf0a3adcd151c0b150368a6856fdf5706a5efd2f02ca810168f4f21f8452799e202468fd74
Resolving storage.googleapis.com (storage.googleapis.com)... 142.251.120.207, 142.251.161.207, 74.125.126.207, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.251.120.207|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1412315 (1.3M) [application/zip]
Saving to: ‘data.zip’

data.zip            100%[===================>]   1.35M  --.-KB/s    in 0.02s

2024-05-01 21:26:47 (82.5 MB/s) - ‘data.zip’ saved [1412315/1412315]

In [2]:
!unzip data.zip

Archive:  data.zip
  inflating: netflix_titles.csv

In [3]:
# import packages
import numpy as np
import pandas as pd
import warnings
import matplotlib.pyplot as plt
from datetime import datetime
warnings.filterwarnings('ignore')

In [4]:
# read the dataframe, encoding as latin1
df= pd.read_csv('netflix_titles.csv',encoding='latin1')
df.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

In [6]:
#removed the unwanted columns
col_names= [f"Unnamed: {i}" for i in range (12,26)]
df.drop(columns= col_names, inplace=True)

In [7]:
# list of columns
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [8]:
# number of valid records in each column
df.count()

show_id         8809
type            8809
title           8809
director        6175
cast            7984
country         7978
date_added      8799
release_year    8809
rating          8805
duration        8806
listed_in       8809
description     8809
dtype: int64

In [9]:
# types of column data
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [10]:
# fill missing records
# fill missing director values with 'Unknown'
df.director.fillna('Unknown',inplace=True)
# fill missing cast values with 'Unknown'
df.cast.fillna('Unknown',inplace=True)
# fill country values with 'Unknown'
df.country.fillna('Unknown',inplace=True)
# fill date_added column with the mode of the data
mode_data= df.date_added.mode()[0]
df.date_added.fillna(mode_data, inplace=True)

In [11]:
# now lets check again the records count
df.count()

show_id         8809
type            8809
title           8809
director        8809
cast            8809
country         8809
date_added      8809
release_year    8809
rating          8805
duration        8806
listed_in       8809
description     8809
dtype: int64

In [12]:
df.type.value_counts()

type
Movie      6132
TV Show    2677
Name: count, dtype: int64

In [13]:
"""lets look at the rating column, since type is of 2 types we will check what type
is having missing rating and we are gonna replace with the mode of that type"""
df[df.type=='Movie'].rating.value_counts().head(1)

rating
TV-MA    2062
Name: count, dtype: int64

In [14]:
# fill rating with the TV-MA
df.rating.fillna('TV-MA', inplace=True)

In [15]:
df.count()

show_id         8809
type            8809
title           8809
director        8809
cast            8809
country         8809
date_added      8809
release_year    8809
rating          8809
duration        8806
listed_in       8809
description     8809
dtype: int64

In [16]:
# create two dfs, one for movies and one for tv-shows
movies= df[df.type=='Movie']
shows= df[df.type=='TV Show']

In [17]:
# replace duration with the number only
movies['duration']= movies['duration'].str.extract('(\d+)').astype(float)

In [18]:
movies.count(), shows.count()

(show_id         6132
 type            6132
 title           6132
 director        6132
 cast            6132
 country         6132
 date_added      6132
 release_year    6132
 rating          6132
 duration        6129
 listed_in       6132
 description     6132
 dtype: int64,
 show_id         2677
 type            2677
 title           2677
 director        2677
 cast            2677
 country         2677
 date_added      2677
 release_year    2677
 rating          2677
 duration        2677
 listed_in       2677
 description     2677
 dtype: int64)

In [20]:
# Hence missing values have been handled
# drop the type columns from the two dfs
movies.drop(columns=['type'],inplace=True)
shows.drop(columns=['type'],inplace=True)

In [21]:
# convert any list represented as a string to a list
def string_to_list(val):
    return [x.strip() for x in val.split(',')]

columns_to_convert= ['cast', 'director', 'listed_in','country']
movies[columns_to_convert]= movies[columns_to_convert].applymap(string_to_list)
shows[columns_to_convert]= shows[columns_to_convert].applymap(string_to_list)

In [22]:
# check once
movies.iloc[1], shows.iloc[1]

(show_id                                                        s7
 title                            My Little Pony: A New Generation
 director                         [Robert Cullen, JosÃ© Luis Ucha]
 cast            [Vanessa Hudgens, Kimiko Glenn, James Marsden,...
 country                                                 [Unknown]
 date_added                                     September 24, 2021
 release_year                                                 2021
 rating                                                         PG
 duration                                                     91.0
 listed_in                              [Children & Family Movies]
 description     Equestria's divided. But a bright-eyed hero be...
 Name: 6, dtype: object,
 show_id                                                        s3
 title                                                   Ganglands
 director                                        [Julien Leclercq]
 cast            [Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nab...
 country                                                 [Unknown]
 date_added                                     September 24, 2021
 release_year                                                 2021
 rating                                                      TV-MA
 duration                                                 1 Season
 listed_in       [Crime TV Shows, International TV Shows, TV Ac...
 description     To protect his family from a powerful drug lor...
 Name: 2, dtype: object)

In [23]:
# lets start by analysing some use-cases
# lets start by the number of movies released each year
# list of years
np.sort(movies.release_year.unique())

array([1942, 1943, 1944, 1945, 1946, 1947, 1954, 1955, 1956, 1958, 1959,
       1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019, 2020, 2021])

In [24]:
# movies released year-wise
# lets analyze movies released from 2000 to 2020
"""
1. The number of movies took a sudden jump from 2007 to 2008 and there onwards have been 100 above
2. Years 2017 and 2018 had the highest movie releases, with 767 movies released
"""
movies.release_year.value_counts()[range(2000,2022)]

release_year
2000     33
2001     40
2002     44
2003     51
2004     55
2005     67
2006     82
2007     74
2008    113
2009    118
2010    154
2011    145
2012    173
2013    225
2014    265
2015    398
2016    658
2017    767
2018    767
2019    633
2020    517
2021    277
Name: count, dtype: int64

In [25]:
# tv-shows released year wise
# list of release years for tv shows
np.sort(shows.release_year.unique())

array([1925, 1945, 1946, 1963, 1967, 1972, 1974, 1977, 1979, 1981, 1985,
       1986, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
       1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021, 2024])

In [26]:
# get shows released year wise
shows[(shows.release_year>=2000) & (shows.release_year<=2025)].release_year.value_counts().reindex(range(2000,2025),fill_value=0)

release_year
2000      4
2001      5
2002      7
2003     10
2004      9
2005     13
2006     14
2007     14
2008     23
2009     34
2010     40
2011     40
2012     64
2013     63
2014     88
2015    162
2016    244
2017    265
2018    380
2019    397
2020    436
2021    315
2022      0
2023      0
2024      1
Name: count, dtype: int64

In [27]:
movies.head(1)

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Dick Johnson Is Dead,[Kirsten Johnson],[Unknown],[United States],"September 25, 2021",2020,PG-13,90.0,[Documentaries],"As her father nears the end of his life, filmm..."

In [37]:
# get most common rating
movies.rating.value_counts()

rating
TV-MA       2064
TV-14       1427
R            797
TV-PG        540
PG-13        490
PG           287
TV-Y7        139
TV-Y         131
TV-G         126
NR            75
G             41
TV-Y7-FV       5
NC-17          3
UR             3
74 min         1
84 min         1
66 min         1
A              1
Name: count, dtype: int64

In [38]:
shows.rating.value_counts()

rating
TV-MA       1148
TV-14        733
TV-PG        323
TV-Y7        195
TV-Y         176
TV-G          94
NR             5
R              2
TV-Y7-FV       1
Name: count, dtype: int64

In [39]:
# get average duration for movies and shows
int(movies.duration.mean())

99

In [40]:
movies.country.value_counts()

country
[United States]                            2059
[India]                                     893
[Unknown]                                   440
[United Kingdom]                            206
[Canada]                                    122
                                           ...
[United Kingdom, Russia, United States]       1
[Paraguay, Argentina]                         1
[United Kingdom, Malawi]                      1
[Austria, Iraq, United States]                1
[United Arab Emirates, Jordan]                1
Name: count, Length: 652, dtype: int64

In [41]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [42]:
movies.columns

Index(['show_id', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [43]:
# feature engineering- combine relevant text columns to a single feature column
movies['combined']= movies['cast'].astype('str')+ movies['director'].astype('str')+ movies.country.astype('str') + movies.listed_in.astype('str') + movies.description
# lets generate a similar recommendation engine for shows
shows['combined']= shows['cast'].astype('str')+ shows['director'].astype('str')+ shows.country.astype('str') + shows.listed_in.astype('str') + shows.description

In [44]:
# calculate similarity
# vectorize the ccombined features
tfid_vectorizer= TfidfVectorizer()
tfid_matrix_movies= tfid_vectorizer.fit_transform(movies['combined'])
tfid_matrix_shows= tfid_vectorizer.fit_transform(shows['combined'])

In [45]:
# compute cosine similarity matrix
cosine_sim_movies= cosine_similarity(tfid_matrix_movies, tfid_matrix_movies)
cosine_sim_shows= cosine_similarity(tfid_matrix_shows, tfid_matrix_shows)

In [46]:
#reset_indexes of the movies and shows dataframes
movies.reset_index(drop=True,inplace=True)
shows.reset_index(drop=True, inplace=True)

In [47]:
# recommendation generation
# function to recommend titles based on similarity scores
def recommend_movies(title, cosine_sim= cosine_sim_movies):
    if title not in movies.title.values:
        return 'Title Not Found'

    idx= movies[movies['title']==title].index[0]
    sim_scores= list(enumerate(cosine_sim_movies[idx]))
    sim_scores= sorted(sim_scores, key= lambda x: x[1], reverse=True)
    sim_scores= sim_scores[1:11] # top 10 similar titles
    movie_indices= [i[0] for i in sim_scores]
    return movies.title.iloc[movie_indices]

# recommendation generation
# function to recomment titles based on similarity scores
def recommend_shows(title, cosine_sim= cosine_sim_shows):
    if title not in shows.title.values:
        return 'Title Not Found'

    idx= shows[shows['title']==title].index[0]
    print(idx)
    sim_scores= list(enumerate(cosine_sim_shows[idx]))
    sim_scores= sorted(sim_scores, key= lambda x: x[1], reverse=True)
    sim_scores= sim_scores[1:11] # top 10 similar titles
    shows_indices= [i[0] for i in sim_scores]
    return shows.title.iloc[shows_indices]

In [51]:
# testing
recommendation= recommend_movies('My Little Pony: A New Generation')
print(recommendation)

1169                                        Over the Moon
2609                       Ken Jeong: You Complete Me, Ho
1740                                      The Willoughbys
2783                                  The Princess Switch
1966                                                  Hop
2772    My Little Pony Friendship Is Magic: Best Gift ...
4194                     Bombshell: The Hedy Lamarr Story
5720                                      The Flintstones
1663    Unbreakable Kimmy Schmidt: Kimmy vs. the Reverend
171                                         Walk of Shame
Name: title, dtype: object

In [53]:
recommendation= recommend_movies('Dick Johnson Is Dead')
print(recommendation)

4702                         How to Be a Player
3362    The Death and Life of Marsha P. Johnson
3123                                   End Game
1530                                  Woodshock
3928                               A Gray State
3741                                   Extremis
5044                           Midnight Special
416                            Sisters on Track
5506                             Small Soldiers
3561                                 Win It All
Name: title, dtype: object

In [52]:
movies.head()

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,combined
0,s1,Dick Johnson Is Dead,[Kirsten Johnson],[Unknown],[United States],"September 25, 2021",2020,PG-13,90.0,[Documentaries],"As her father nears the end of his life, filmm...",['Unknown']['Kirsten Johnson']['United States'...
1,s7,My Little Pony: A New Generation,"[Robert Cullen, JosÃ© Luis Ucha]","[Vanessa Hudgens, Kimiko Glenn, James Marsden,...",[Unknown],"September 24, 2021",2021,PG,91.0,[Children & Family Movies],Equestria's divided. But a bright-eyed hero be...,"['Vanessa Hudgens', 'Kimiko Glenn', 'James Mar..."
2,s8,Sankofa,[Haile Gerima],"[Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra ...","[United States, Ghana, Burkina Faso, United Ki...","September 24, 2021",1993,TV-MA,125.0,"[Dramas, Independent Movies, International Mov...","On a photo shoot in Ghana, an American model s...","['Kofi Ghanaba', 'Oyafunmike Ogunlano', 'Alexa..."
3,s10,The Starling,[Theodore Melfi],"[Melissa McCarthy, Chris O'Dowd, Kevin Kline, ...",[United States],"September 24, 2021",2021,PG-13,104.0,"[Comedies, Dramas]",A woman adjusting to life after a loss contend...,"['Melissa McCarthy', ""Chris O'Dowd"", 'Kevin Kl..."
4,s13,Je Suis Karl,[Christian Schwochow],"[Luna Wedler, Jannis NiewÃ¶hner, Milan Peschel...","[Germany, Czech Republic]","September 23, 2021",2021,TV-MA,127.0,"[Dramas, International Movies]",After most of her family is murdered in a terr...,"['Luna Wedler', 'Jannis NiewÃ¶hner', 'Milan Pe..."